#intro {
    text-align: justify;
    padding-right: 20px;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 30px;
    color: #494e52;
}

.edu,.serv{
	text-align: justify;
	padding-right: 20px;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: normal;
}

p {
    font-weight: normal;
}

.paper-supp-code{
	 
}

.paper-supp-code a{
	padding-left:5px;
	padding-right:5px;
}

